type cbd, domain;
allow cbd shell_exec:file { entrypoint read };
allow cbd radio_prop:property_service set;
allow cbd rootfs:file entrypoint;
allow cbd kmsg_device:chr_file { read write open };
allow cbd log_device:chr_file { write open };
allow cbd self:capability { setuid dac_override };
allow cbd init:unix_stream_socket connectto;
allow cbd property_socket:sock_file write;
allow cbd log_device:dir search;
allow cbd tee:unix_stream_socket connectto;
allow cbd tee_device:chr_file { read write open ioctl };
allow cbd mmc_block_device:blk_file { read write open ioctl };
allow cbd efs_file:dir search;
allow cbd unlabeled:file { read getattr open };
allow cbd radio_device:chr_file { read write open ioctl };
